<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Papers</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        Очень стильная заглавная страница
        <a>тык</a>
        <div class="">
            <div id="app">
                {{ message }}
            </div>            
        </div>
        <script type="text/javascript">
            new Vue({
                el: '#app',
                data: {
                    message: 'test123'
                }
            })
        </script>
    </body>
</html>